								<div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        __welcome_login_message__
                                    </h4>
                                    	__error_message__
                                    <div class="space-6"></div>

                                    <form id="login_form" class="fm-v clearfix" action="login.php" method="post">
                                        <input type="hidden" name="execution" value="__execution__" />
                                        <input type="hidden" name="_eventId" value="submit" />
                                        <input type="hidden" name="service" value="__service__"/>
										<fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" id="username" name="username" class="form-control" placeholder="__username__" />
															<i class="ace-icon fa fa-user"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" id="password" name="password" class="form-control" placeholder="__password__" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <button type="submit" name="submit" value="LOGIN" class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">__login_button_label__</span>
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>
                                </div><!-- /.widget-main -->
                                <div class="toolbar clearfix">
                                    <div>
                                        <a href="/authzssl/forget_password" data-target="#forgot-box" class="forgot-password-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            __forgot_password__
                                        </a>
                                    </div>

                                    <div>
                                        <a href="/authzssl/forget_userid" data-target="#signup-box" class="user-signup-link">
                                            __forgot_username__
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>