body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	font-size: 80%;
	}	
	
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

/* =-=-=-=-=-=-=-[Menu Four]-=-=-=-=-=-=-=- */


#menu4 div.menu_body a,.item_preview2 a {
  	
	margin-bottom:5px;
	text-decoration: none;
	overflow:hidden;
}
	
#menu4 div a:link, #menu4 div a:visited,.item_preview2 a:link,.item_preview2 a:visited {
	color: #310071;
	display: inline-block;
	width:180px;
	padding: 5px 5px 5px 5px;
	}
	
#menu4 div a:hover,.item_preview2 a:hover {
	}
	
/* #menu4 div a:active,.item_preview2 a:active {
	color: #fff;
	padding: 8px 0 0 30px;
	} */
	
#menu4 div.menu_body {
	background: #FFFFFF;
}


#menu4 {

	}
	
#menu4 .menu_header a,.item_preview1 a {
  	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
}
	
#menu4 .menu_header a:link, #menu4 .menu_header a:visited,.item_preview1 a:link,.item_preview1 a:visited {
	color: #2B7DBC;
	display: inline-block;
	
	background-color: #FAFAFA !important;
}
	
#menu4 .menu_header a:hover,.item_preview1 a:hover {
	color: #585858;
	background-color: #FAFAFA !important;
}
	
/* #menu4 .menu_header a:active,.item_preview1 a:active {
	color: #000000;
	background-color: #FAFAFA !important;
	padding: 8px 0 0 30px;
} */
	
	
.list_box {
	display:table;
	border-collapse:collapse;
	border:0px;
}
	
.list_item{
	display:table-row;
	padding:0px;
}

.item_href{
	display:table-cell;
}
	
.item_actions,.item_order_text_box,.item_order_input,.item_input_id{
	display:table-cell;
	padding: 0px 0px 0px 20px;
}
	
.item_preview2 a, .item_preview1 a{
	width:180px;
}
.item_preview2 , .item_preview1 {
	background-color:#C2D6F3 ;
}

#menu4{
	width:188px;
}

.menu_header{
}

.menu_body .menu_item{
	text-align: left;
	background-color: #FFFFFF !important;
	margin-left: 10px;
}

.menu_body .menu_item a{
	text-align: left;
 	color: #585858 !important;
}

.menu_body{
	display:none;
}

.arrow{
	text-align: right;
	float: right;
	padding-right: 5px;
}


