<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
	try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

	<ul class="breadcrumb">
		<li><i class="icon-home home-icon"></i> <a href="${baseUrl}/app/documents/">Home</a></li>
		<#list breadcrumbs.links as link >
		<#if link.link??>
		<li><a href="${link.link}">${link.title}</a></li>
		<#else>
			<li class="active">${link.title}</li>
		</#if>
		</#list>
		<#if breadcrumbs.title!="" ><li class="active">${breadcrumbs.title}</li></#if>
	</ul><!--.breadcrumb-->

	<div class="nav-search" id="nav-search">
		<form class="form-search">
			<span class="input-icon">
				<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
				<i class="icon-search nav-search-icon"></i>
			</span>
		</form>
	</div><!--#nav-search-->

</div>